<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table border="1">
    <% if(rowByrowData[0]==="" && rowByrowData[1]===""){ %>
    NO data found
    <% }else{ %>


    <% for(let i=0 ; i<rowByrowData.length -1; i++ ){ %>
    <tr>
      <% let cells = rowByrowData[i].split(",")%>
      <% cells.forEach(cell=>{  %>
      <td>
        <%= cell %>
      </td>
      <% }) %>  
      <td>
        <a href="/delete/<%=i+1%>">delete </a>
    </td>
        <td>
            
        <a href="/update/<%=i%>">update</a>
      </td>
    </tr>   
    <% } %>
    <% } %>
  </table>


  <a href="/">Go Home</a>
</body>

</html>