<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <% rowByrowData.forEach(element => { %>
            <tr>
               <% let cells = element.split(",")%>
                <% cells.forEach(cell=>{  %>
                    <td>
                       <%= cell %>
                    </td>
                   <% }) %>
            </tr>
       <% }); %>
    </table>
</body>
</html>

