<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fileOperation</title>
</head>
<body>
    <form action="/update" method="post" enctype="multipart/form-data">
    <input type="hidden" id="id" name="id" value="<%= id %>">
    <input type="hidden" name="rowIndex" value="<%= rowIndex %>">
    <label for="userName">Name: </label>
    <input type="text" id="userName" name="userName" value="<%= userName%>">
    
    <br><br>
    <p>Current file: <%= userFile %> (leave empty to keep it)</p>
    <input type="file" id="inputFile" name="inputFile">

    <br><br>
    <button type="submit" id="submitBtn">Submit</button>
    <button type="button" id="allUsers">Get All Users</button>
    </form>

</body>
    <script src="/js/updateFile.js"></script>
</html>