<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>job form v2</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form method="POST" action="/api/submit">
      <h1>Job apllication form v2</h1>
      <fieldset>
        <legend>Basic Details</legend>
        <div class="basicDetails">
          <div class="basicDetails1">
            <div>
              <label for="name">First Name</label>
              <input type="text" id="firstName" name="firstName" required />

              <br /><br />
              <label for="lastName">Last Name</label>
              <input type="text" id="lastName" name="lastName" required />

              <br /><br />
              <label for="email">Email</label>
              <input type="text" id="email" name="email" required />

              <br /><br />
              <label for="phoneNo">Phone Number</label>
              <input type="text" name="phoneNo" id="phoneNo" required />
            </div>
            <br>
            <div id="gender"></div>
              <br>
            <div id="relationship"></div>
          </div>

          <div>
            <label for="address1">Address 1</label><br>
            <input type="text" name="address1" id="address1" style="width: 300px; height: 50px" required />

            <br><br>
            <label for="address1">Address 2</label><br>
            <input type="text" name="address2" id="address2" style="width: 300px; height: 50px" required />

            <br><br>
            <div id="state"></div>
            <br>
            <div id="city">
              <!-- dummy select tag , this will be removed when state is selected -->
             City <select style="width: 100px; ;"><option disabled selected>select City</option></select>
            </div>

            <br>
            <label for="zip">zip code</label>
            <input type="number" id="zip" placeholder="123456" name="zip" minlength="6" maxlength="6" required>

            <br /><br />
              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" name="dob" required />


          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>Education Status</legend>

        <button id="addEduBtn">Add Row</button>
        <table border="1" id="eduTable">
          <thead>
            <th>course</th>
            <th>passing year</th>
            <th>uni / board</th>
            <th>result</th>
          </thead>
          <tbody id="eduBody">
            
          </tbody>


        </table>
      </fieldset>

      <fieldset>
        <legend>Work Experience</legend>

         <button id="addExpBtn">Add Row</button>
         <br>

        <table border="1">
          <thead>
            <th>Company Name</th>
            <th>From date</th>
            <th>To date</th>
            <th>Annual package</th>
            <th>Reason to leave</th>
            <th>ref. Contact no</th>
            <th>ref. Contact name</th>
            <th>ref. Contact relation</th>
          </thead>

          <tbody id="workExpBody">

          </tbody>
          
        </table>
      </fieldset>


      <br>
      <fieldset>
        <legend>Language Known</legend>
        <button id="addLangBtn">Add Row</button> <br><br>
        
        <table border="1">
          <thead>
            <th>Language</th>
            <th>Read</th>
            <th>write</th>
            <th>speak</th>
          </thead>
          <tbody id="langBody">

          </tbody>
        </table>
      </fieldset>

      <fieldset>
        <legend>Technology Known</legend>
        <button id="addTechBtn">Add Row</button>
        <table border="1">
          <thead>
            <th>Technologies</th>
            <th>Beginner</th>
            <th>Intermediate</th>
            <th>Expert</th>
          </thead>

          <tbody id="techBody">

          </tbody>

        </table>
      </fieldset>

      <fieldset>
        <legend>Preferences</legend>
        <table>
          <tr >
            <td style="padding-right: 60px;">
              <label> Preferred Location 1</label>
              <div id="preferredLocation1">

              </div>

              <br>
              <label> Preferred Location 2</label>
              <div id="preferredLocation2">

              </div>
            </td>

            <td style="padding-right: 60px;">
              <label for="notice_period">Notice Period</label>

              <input
                type="number"
                id="noticePeriod"
                name="noticePeriod"
                placeholder="30 days"
                required
                min="0"
              />
              <br /><br />
              <label for="expected_ctc">Expected CTC</label>

              <input
                type="number"
                id="expectedCtc"
                name="expectedCtc"
                placeholder="600000"
                required
              />
              <br /><br />

              <label for="current_ctc">Current CTC</label>

              <input
                type="number"
                id="currentCtc"
                name="currentCtc"
                placeholder="500000"
                required
              />
            </td>

            <td>
              <label>Department</label>
              <div id="department">
            
              </div>
            </td>
          </tr>

        </table>
      </fieldset>





      <br><br>
      <div id="buttons">
        <button type="submit" id="submitBtn">Submit</button>
        <button type="reset" id="resetBtn">Reset</button>
      </div>
    </form>

    <script src="/js/form.js"></script>
  </body>
</html>
