<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense tracker</title>
</head>
<body>
    <div>

        <form id="expenseForm">
            <h1>Expense tracker</h1>
            
            <label for="name">Expense name</label>
            <input type="text" name="expName" id="expName" required>
            
            <br><br>
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" min="0">
            
            <br><br>
            <label for="expDate">Date:</label>
            <input type="date"  name="expDate" id="expDate" required>
            
            <button type="submit" id="submitBtn"> Add Expense </button>
            
            
              </form>

              
            <div id="message"></div>
            
            <br><br>
            <h1>All Expenses</h1>

            <div >
                <table  border=1>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>date</th>
                        </tr>
                    </thead >
                    <tbody id="expensisList">
                        
                    </tbody>
                </table>
            </div>




      
    </div>


    <script src="/js/app.js"></script>
</body>
</html>