<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>expense tracker</title>
</head>
<body>
    
    <div>

        <form id="expenseForm">
            <h1>Expense tracker</h1>
            
            <label for="name">Expense name</label>
            <input type="text" name="expName" id="expName" value="<%= expense.expense_name %>" required >
            
            <br><br>
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" min="0" value="<%= expense.expense_amount %>" >
            
            <br><br>
            <label for="expDate">Date:</label>
            <input type="date"  name="expDate" id="expDate" required value="<%= expense.expense_date %>">
            
            <button  id="updateBtn" data-id="<%=expense.id%>"> update Expense </button>
            <!-- <button id="goHome">Go home</button> -->
            <a href="/api/expense">Go Home</a>            
            
              </form>

              
            <div id="message"></div>

      
    </div>


    <script src="/js/update.js"></script>
</body>
</html>