<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <p>enter mail and pass</p>

      <form action="/register" method="post">
        <label for="name">User name:</label>
        <input type="text" id="name" name="name" required />
        <br /><br />

        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />

        <br /><br />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
        <br />
        <span id="email-error"></span>

        <br />
        <span id="error-message"></span>
        <br />

        <button type="submit" id="register">Register</button>
      </form>

      <p><a href="/login">Login</a></p>
    </div>

    <script>
      function isPasswordStrong(password) {
        const strongRegex =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        return strongRegex.test(password);
      }

      let userExist = false;

      document.getElementById("email").addEventListener("blur", async (e) => {
        const EmailErrorDisplay = document.getElementById("email-error");
        EmailErrorDisplay.style.color = "orange";
        try{
        console.log(" in email");
        console.log( e.target.value );

          const respose = await fetch("/check-email", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email: e.target.value }),
          });
          console.log(userExist);
          
          const data = await respose.json();
        console.log("data in email blur", data);
        console.log(data.existes);
        if (data && data.existes) {
          userExist = true;
          EmailErrorDisplay.innerText =
          "email already exist";
        } else {
          userExist = false;
        }
      }catch(err){
        console.error("Fetch Error:", error);
         EmailErrorDisplay.innerText = "Error checking email. Please try again.";
         EmailErrorDisplay.style.color = "orange";
      }
      });
      
      //register the user
      document
        .getElementById("register")
        .addEventListener("click", async (e) => {
          e.preventDefault();
          //get all data
          //vaidate all the details first
          const userName = document.getElementById("name").value.trim();
          const email = document.getElementById("email").value.trim();
          const password = document.getElementById("password").value.trim();
          const errorDisplay = document.getElementById("error-message");
          const EmailErrorDisplay = document.getElementById("email-error");
          EmailErrorDisplay.style.color = "orange";
          console.log(email ,"in reg btn");

          // Clear previous errors
          errorDisplay.innerText = "";
          errorDisplay.style.color = "red";
           EmailErrorDisplay.innerText ="";

          //if user not exist then register user

          if (!userName || !email || !password) {
            document.getElementById("error-message").innerText =
              "please fill all the information correctly";
            return;
          }

          // 2. Strong Password Validation
          if (!isPasswordStrong(password)) {
            errorDisplay.innerHTML = `
                    Password must have: <br>
                    - At least 8 characters <br>
                    - One uppercase & one lowercase letter <br>
                    - One number & one special character (@$!%*?&)
                `;
            return;
          }

          if (userExist) {
            EmailErrorDisplay.innerText =
              "email already exist ";
            return;
          }

          //all detaild is complete the store data in db;
          const response = await fetch("/register", {
            method: "post",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              userName: userName,
              email: email,
              password: password,
            }),
          });

          const data = await response.json();
          console.log("data", data);
          console.log(data.message);
          if (data && data.success) {
            alert("registerd Sucessfully")
                window.location.href = "/login";
            }
        });
    </script>
  </body>
</html>
