<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <p>enter mail and pass</p>

        <form action="/register" method="post">
            <label for="name">User name:</label>
            <input type="text" id="name" name="name" required>
            <br><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>

            <br><br>
             <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <p id="email-error"></p>
            <br>

            <button type="submit">Register</button>
        </form>

        <p><a href="/login">Login</a></p>

    </div>

    <script>
        document.getElementById("email").addEventListener("blur", async(e)=>{
            console.log(" in email");
            const respose = await fetch("/check-email", {
                method:"post",
                headers:{"Content-Type": "application/json"},
                body:JSON.stringify({email:e.target.value})
            });

            const data = await respose.json();
            if(data.existes){
                document.getElementById("email-error").innerText="email already exist";
            }

        })
    </script>
</body>

</html>